@font-face {
    src: url('../res/aileron_regular.otf');
    font-family: 'Aileron';
    font-weight: normal;
}
@font-face {
    src: url('../res/aileron_bold.otf');
    font-family: 'Aileron';
    font-weight: bold;
}
@font-face {
    src: url('../res/aileron_black.otf');
    font-family: 'Aileron';
    font-weight: bolder;
}

@font-face {
    src: url('../res/jet_brains_mono_nl_regular.ttf');
    font-family: 'JetBrainsMono';
    font-weight: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --accent-color: #006DF6;
    --darker-accent-color: #0047A0;
    --off-white: #F5F5F5;
    --grey: #C7C7C7;
    --red: #FF5B5B;
    --dark-red: #9C0008;
    --light-red: #E00000;
}

/* General styles */

html {
    font-family: 'Aileron';
}

.btn:hover {
    cursor: pointer;
}

.icon-btn {
    border: none;
    border-radius: 5px;
    background-color: var(--grey);
    padding: 3px 5px 3px 5px;
    margin: 0 5px 0 0;
}
.icon-btn:disabled {
    filter: grayscale(100%);
}

.icon-btn__img {
    height: 25px;
    width: 25px;
}

table {
    text-align: left;
    border-collapse: separate;
    border-spacing: 10px;
}

.mono {
    font-family: 'JetBrainsMono';
    font-size: 16px;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(0, 1fr);
    grid-template-areas:
    "header"
    "main"
    ;
    height: 100vh;
}


/* Header */

header {
    grid-area: header;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__title {
    font-size: 18px;
    font-weight: bolder;
    color: white;
    padding: 10px;
    opacity: 0.8;
    margin: 0 20px 0 0;
}

.nav__btn {
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: var(--darker-accent-color);
    padding: 10px 20px 10px 20px;
    margin: 10px 10px 10px 0;
    border: none;
    border-radius: 5px;
}
.nav__btn--active {
    color: black;
    background-color: white;
    margin: 10px 10px 0 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 10px solid white;
}

.upload-btn {
    padding: 5px 20px 5px 20px;
    margin: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--grey);
}

.upload-btn__img {
    height: 25px;
    width: 25px;
    filter: invert(100%);
}

main {
    height: 100%;
    width: 100%;
}

.page {
    display: none;
    height: 100%;
    width: 100%;
    padding: 10px;
}
.page--active {
    display: grid;
}

.page-debugger {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto minmax(0, 2fr) minmax(0, 1fr);
    grid-template-areas:
    "toolbar        toolbar"
    "disassembly    registers"
    "console        console"
    ;
    gap: 10px;
}

.section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(0, 1fr);
    background-color: var(--off-white);
    border-radius: 5px;
    padding: 10px;
}
.section--simple {
    display: block;
}

.section__title {
    font-size: 18px;
    font-weight: bolder;
    margin: 0 0 10px 0;
}

.section__body--overflow {
    overflow-y: scroll;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
}

.sec-toolbar {
    grid-area: toolbar;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sec-disasm {
    grid-area: disassembly;
}
.sec-registers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto minmax(0, 1fr);
    grid-area: registers;
    row-gap: 10px;
}
.sec-console {
    grid-area: console;
}

/* Disassembly */

.asm-line {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.asm-line--active {
    background-color: var(--red);
}
.asm-line--active .asm-line__address {
    color: var(--dark-red);
}
.asm-line--active .asm-line__breakpoint {
    background-color: black;
    border-color: black;
}

.asm-line__breakpoint {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 2px solid var(--light-red);
    background-color: var(--red);
    opacity: 0;
}
.asm-line__breakpoint--active {
    opacity: 1;
}
.asm-line__breakpoint:hover {
    opacity: 1;
    cursor: pointer;
}

.asm-line__line-number {
    padding: 0 20px 0 5px;
    text-align: end;
}

.asm-line__address {
    padding: 0 20px 0 0;
    color: var(--grey);
}

.register--changed {
    color: red;
}

.console-output {
    width: 100%;
}
