* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto minmax(0, 1fr) auto;
    grid-template-areas:
    "header     header      header"
    "toolbar    toolbar     toolbar"
    "disasm     registers   sidebar "
    "console    console     console"
    ;
    height: 100vh;
}

/* General styles */

header {
    grid-area: header;
}

table {
    text-align: left;
}

.mono {
    font-family: 'Courier New', Courier, monospace;
}

.toolbar {
    grid-area: toolbar;
}

.disasm {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-area: disasm;
}

.disasm-container {
    overflow-y: scroll;
    padding: 0 10px 0 10px;
}

.sidebar {
    grid-area: sidebar;
}

.registers {
    grid-area: registers;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto) 1fr;
}

.registers-container {
    overflow-y: scroll;
}

.console {
    grid-area: console;
}

.asm-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.asm-line--active .asm-line__line-number {
    background-color: #a14941;
    color: white;
}
.asm-line--active .asm-line__content {
    color: white;
}
.asm-line--active .asm-line__address {
    color: #ffcfcc;
}
.asm-line--active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: #f0675e;
    z-index: -1;
}

.asm-line__breakpoint {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 2px solid #a82016;
    background-color: #e32d20;
    opacity: 0;
    margin: 0 5px 0 10px;
}
.asm-line__breakpoint--active {
    opacity: 1;
}
.asm-line__breakpoint:hover {
    opacity: 1;
    cursor: pointer;
}

.asm-line__line-number {
    background-color: #e8e8e8;
    padding: 0 5px 0 5px;
    margin: 0 5px 0 0;
    text-align: end;
}

.asm-line__address {
    margin: 0 10px 0 0;
    color: #9e9e9e;
}

.asm-line__content {
    color: black;
}

.register--changed {
    color: red;
}

.console-output {
    width: 100%;
}
