* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto minmax(0, 1fr) auto;
    grid-template-areas:
    "header     header"
    "toolbar    toolbar"
    "disasm     sidebar"
    "footer     footer"
    ;
    height: 100vh;
}

header {
    grid-area: header;
}

table {
    text-align: left;
}

.toolbar {
    grid-area: toolbar;
}

.disasm {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-area: disasm;
}

.disasm-container {
    overflow-y: scroll;
}

.disasm-output {
    font-family: 'Courier New', Courier, monospace;
}

.sidebar {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}
